<h1>Edit product</h1>
<form method="post" action="/products/{{products._id}}?_method=PUT">
    <div class="mb-3">
        <label for="image" class="form-label">Link ảnh sản phẩm</label>
        <input type="text" name="image" class="form-control" id="image" value="{{products.image}}">
        <img class="mt-2" src="{{products.image}}" alt="{{products.name}}" width="100">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Tên sản phẩm</label>
        <input type="text" name="name" class="form-control" id="name" value="{{products.name}}">
    </div>
    <div class="mb-3">
        <label for="brand" class="form-label">Tên thương hiệu</label>
        <input type="text" name="brand" class="form-control" id="brand" value="{{products.brand}}"  >
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Giá tiền</label>
        <input type="text" name="price" class="form-control" id="price" value="{{products.price}}">
    </div>

    <button type="submit" class="btn btn-primary">Sửa</button>
</form>